<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>BasicExampleWeb</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<res-ref-name>jms/HelloConnectionFactory</res-ref-name>
		<res-type>javax.jms.QueueConnectionFactory</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<message-destination-ref>
		<message-destination-ref-name>jms/Request_HelloQueue</message-destination-ref-name>
		<message-destination-type>javax.jms.Queue</message-destination-type>
		<message-destination-usage>Consumes</message-destination-usage>
		<message-destination-link>jms/Request_HelloQueue</message-destination-link>
	</message-destination-ref>
	<message-destination-ref>
		<message-destination-ref-name>jms/Response_HelloQueue</message-destination-ref-name>
		<message-destination-type>javax.jms.Queue</message-destination-type>
		<message-destination-usage>Consumes</message-destination-usage>
		<message-destination-link>jms/Response_HelloQueue</message-destination-link>
	</message-destination-ref>
	<message-destination>
		<message-destination-name>jms/Request_HelloQueue</message-destination-name>
	</message-destination>
	<message-destination>
		<message-destination-name>jms/Response_HelloQueue</message-destination-name>
	</message-destination>
</web-app>
